---
import { getCollection, getEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

// Generate static pages
export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({ params: { slug: post.slug } }));
}

const { slug } = Astro.params;

const post = await getEntry("posts", slug);
if (!post) throw new Error("No post found for this slug");

const author = await getEntry("authors", post.data.author ?? "");
const { Content } = await post?.render();
---

<Layout title={post.data.title}>
  {author && <div>{author.data.name}</div>}
  <h1>{post.data.title}</h1>
  <Content />
</Layout>
